- name: Register new host to RHN
  delegate_to: "{{ item.name }}"
  redhat_subscription:
    state: present
    org_id: "{{ rhn.org_id }}"
    activationkey: "{{ item.activationkey }}"
  when: rhn.org_id is defined


- name: configure and register to local satellite
  block:
    - name: download katello rpm
      delegate_to: "{{ item.name }}"
      get_url:
        url: "{{ satellite.host }}/pub/katello-ca-consumer-latest.noarch.rpm"
        validate_certs: no
        dest: /tmp/katello-ca-consumer-latest.noarch.rpm

    - name: install katello rpm
      delegate_to: "{{ item.name }}"
      yum:
        disable_gpg_check: yes
        name: /tmp/katello-ca-consumer-latest.noarch.rpm
        state: present

    - name: Register to a satellite with a activation key
      delegate_to: "{{ item.name }}"
      redhat_subscription:
        state: present
        activationkey: "{{ item.activationkey }}"
        server_hostname: "{{ satellite.host }}/rhsm"
        server_insecure: yes
        org_id: "Lab"
  when: satellite.host is defined
