server=192.168.50.1
server=/compute.local/192.168.50.2
local=/compute.local/
srv-host=_etcd-server-ssl._tcp.compute.local,etcd-0.compute.local,2380,0,10
srv-host=_etcd-server-ssl._tcp.compute.local,etcd-1.compute.local,2380,0,10
srv-host=_etcd-server-ssl._tcp.compute.local,etcd-2.compute.local,2380,0,10
address=/apps.compute.local/192.168.50.2
addn-hosts=/etc/hosts.ocp4
