192.168.50.2	bastion.compute.local api-int.compute.local api.compute.local
192.168.50.3	bootstrap.compute.local
192.168.50.10	master-0.compute.local etcd-0.compute.local
192.168.50.11	master-1.compute.local etcd-1.compute.local
192.168.50.12	master-2.compute.local etcd-2.compute.local
192.168.50.20	worker-0.compute.local
192.168.50.21	worker-1.compute.local
192.168.50.22	worker-2.compute.local
